@model C4_Assignment.Models.SanPham

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SanPham</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TenSanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TenSanPham)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HinhAnh)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HinhAnh)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GhiChu)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GhiChu)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gia)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gia)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MauSac)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MauSac)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KichThuoc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KichThuoc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DanhMuc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DanhMuc.DanhMucID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CungCap)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CungCap.CungCapID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.SanPhamID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
