@model C4_Assignment.Models.DonHangChiTiet

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>DonHangChiTiet</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SanPham)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SanPham.SanPhamID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DonHang)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DonHang.DonHangID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SoLuong)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SoLuong)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.DonHangChiTietID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
