@model IEnumerable<C4_Assignment.Models.DonHangChiTiet>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SanPham)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonHang)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SoLuong)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SanPham.SanPhamID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonHang.DonHangID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SoLuong)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.DonHangChiTietID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.DonHangChiTietID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.DonHangChiTietID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
