@model IEnumerable<C4_Assignment.Models.NhanVien>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Anh)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HoTen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NgayVaoLam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChucVu)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                <img src="@Html.DisplayFor(modelItem => item.Anh)" alt="Alternate Text" width="20%" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoTen)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NgayVaoLam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChucVu)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.NhanVienID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.NhanVienID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.NhanVienID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
